@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/remixicon@2.3.0/fonts/remixicon.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
*, *, *:after, *:before {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

*:focus, *:focus, *:after:focus, *:before:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

html, body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

div, header, nav, footer, section, aside, article {
  display: block;
}

p, span, li {
  color: #7B7B7B;
}

a {
  color: #1577EA;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #1577EA;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

img {
  width: 100%;
}

.btn {
  background-color: #1577EA;
  color: #fff;
  -webkit-box-shadow: 0px 8px 12px rgba(21, 119, 234, 0.3);
          box-shadow: 0px 8px 12px rgba(21, 119, 234, 0.3);
}

.btn:focus {
  outline: none !important;
  -webkit-box-shadow: 0px 18px 20px rgba(21, 119, 234, 0.3) !important;
          box-shadow: 0px 18px 20px rgba(21, 119, 234, 0.3) !important;
}

.btn:hover {
  color: #fff;
  -webkit-box-shadow: 0px 18px 20px rgba(21, 119, 234, 0.3);
          box-shadow: 0px 18px 20px rgba(21, 119, 234, 0.3);
}

.btn i {
  vertical-align: middle;
  font-size: 20px;
}

.btn.outline {
  background-color: transparent;
  color: #1577EA;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #1577EA;
}

.btn.outline:hover {
  -webkit-box-shadow: 0px 18px 20px rgba(21, 119, 234, 0.3);
          box-shadow: 0px 18px 20px rgba(21, 119, 234, 0.3);
  background-color: #1577EA;
  color: #fff;
}

.btn.outline i {
  vertical-align: middle;
  font-size: 20px;
}

.input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
}

.input-box .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F1F3F6;
  width: 100%;
  border-radius: 4px;
}

.input-box label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  display: block;
  color: #414141;
}

.input-box input, .input-box select, .input-box textarea {
  width: calc( 100% - 45px);
  background-color: transparent;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.input-box input:focus, .input-box select:focus, .input-box textarea:focus {
  outline: #1577EA solid 1px !important;
}

.input-box select {
  -webkit-appearance: none !important;
  -moz-appearance: none;
  text-indent: 1px;
}

.input-box i {
  width: 45px;
  height: 45px;
  background-color: #1577EA;
  color: #fff;
  border-radius: 4px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.input-box.white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
}

.input-box.white .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  width: 100%;
  border-radius: 4px;
}

.input-box.white label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  display: block;
  color: #414141;
}

.input-box.white input, .input-box.white select, .input-box.white textarea {
  width: calc( 100% - 45px);
  background-color: transparent;
  border: 0;
  padding-left: 10px;
}

.input-box.white input:focus, .input-box.white select:focus, .input-box.white textarea:focus {
  outline: #1577EA solid 1px !important;
}

.input-box.white i {
  width: 45px;
  height: 45px;
  background-color: #1577EA;
  color: #fff;
  border-radius: 4px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

header {
  background-color: #1577EA;
  padding: 10px 0;
  -webkit-box-shadow: 0px 12px 24px rgba(21, 119, 234, 0.3);
          box-shadow: 0px 12px 24px rgba(21, 119, 234, 0.3);
  z-index: 10;
}

header a {
  color: #fff;
}

header a:hover {
  color: #fff;
}

header a.navbar-brand {
  font-weight: bold;
  font-size: 24px;
}

header a.navbar-brand:hover {
  color: #fff;
}

.invoice-wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #F1F3F6;
}

.invoice-wrapper .sidebar .btn {
  min-width: 270px;
}

.invoice-wrapper .invoce-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 50px rgba(21, 119, 234, 0.05);
          box-shadow: 0px 0px 50px rgba(21, 119, 234, 0.05);
}

.invoice-wrapper .invoce-box .upload input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 100%;
  cursor: pointer;
}

.invoice-wrapper .invoce-box .invoice-id h1, .invoice-wrapper .invoce-box .invoice-id h2, .invoice-wrapper .invoce-box .invoice-id h3, .invoice-wrapper .invoce-box .invoice-id h4, .invoice-wrapper .invoce-box .invoice-id h5, .invoice-wrapper .invoce-box .invoice-id h6 {
  text-align: right;
  text-transform: uppercase;
  font-weight: 600;
  color: #1577EA;
  font-size: 32px;
  margin-bottom: 15px;
}

.invoice-wrapper .invoice-table table {
  display: block;
  width: 100%;
}

.invoice-wrapper .invoice-table table input {
  border: 0;
  width: 100%;
}

.invoice-wrapper .invoice-table table tr:first-child th:first-child {
  border-radius: 6px 0 0 6px;
}

.invoice-wrapper .invoice-table table tr:first-child th:last-child {
  border-radius: 0 6px 6px 0;
}

.invoice-wrapper .invoice-table table tr:first-child td, .invoice-wrapper .invoice-table table tr:first-child th {
  background-color: #333333;
  padding: 10px 12px;
  color: #fff;
}

.invoice-wrapper .invoice-table table tr:first-child td p, .invoice-wrapper .invoice-table table tr:first-child th p {
  margin-bottom: 0;
  color: #fff;
}

.invoice-wrapper .invoice-table table tr:first-child td:fisrt-child {
  border-radius: 4px 0 0 4px;
}

.invoice-wrapper .invoice-table table tr td {
  background-color: #fff;
}

.invoice-wrapper .invoice-table table tr td:nth-child(2) {
  min-width: 100px;
  max-width: 100px;
}

.invoice-wrapper .invoice-table table tr td:nth-child(3) {
  min-width: 100px;
  max-width: 100px;
}

.invoice-wrapper .invoice-table table tr td p {
  border: 1px solid #ABABAB;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 10px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.invoice-wrapper .invoice-table table tr td:first-child {
  min-width: 470px;
}

.invoice-wrapper .invoice-table table tr td:first-child p {
  border-radius: 6px 0 0 6px;
}

.invoice-wrapper .invoice-table table tr td:last-child {
  min-width: 100px;
  max-width: 100px;
}

.invoice-wrapper .invoice-table table tr td:last-child p {
  border-radius: 0 6px 6px 0;
}

.notes .sub-total {
  border-bottom: 1px dashed #7B7B7B;
}

.notes .add-btns {
  padding-top: 20px;
}

.notes .add-btns .link {
  background-color: transparent;
  border: none;
  color: #1577EA;
  text-decoration: underline;
}

.notes .inner-total {
  padding-top: 30px;
}

.notes .inner-total table {
  display: block;
  width: 100%;
}

.notes .inner-total table td {
  min-width: 130px;
}

.notes .discount .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #F1F3F6;
}

.notes .discount .input-box input, .notes .discount .input-box select, .notes .discount .input-box textarea {
  padding: 10px;
}

.notes .discount .input-box select {
  max-width: 85px;
  -webkit-appearance: textfield !important;
  margin-right: 10px;
  border-right: 1px solid #7B7B7B;
}
/*# sourceMappingURL=style.css.map */