@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/remixicon@2.3.0/fonts/remixicon.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
*, *, *:after, *:before {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

*:focus, *:focus, *:after:focus, *:before:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

html, body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

div, header, nav, footer, section, aside, article {
  display: block;
}

p, span, li {
  color: #7B7B7B;
}

a {
  color: #1577EA;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #1577EA;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

img {
  width: 100%;
}

.btn {
  background-color: #1577EA;
  color: #fff;
  -webkit-box-shadow: 0px 8px 12px rgba(21, 119, 234, 0.3);
          box-shadow: 0px 8px 12px rgba(21, 119, 234, 0.3);
  min-width: 170px;
  min-height: 45px;
  padding: 10px;
  border-radius: 8px;
}

.btn:focus {
  outline: none !important;
  -webkit-box-shadow: 0px 18px 20px rgba(21, 119, 234, 0.3) !important;
          box-shadow: 0px 18px 20px rgba(21, 119, 234, 0.3) !important;
}

.btn:hover {
  color: #fff;
  -webkit-box-shadow: 0px 18px 20px rgba(21, 119, 234, 0.3);
          box-shadow: 0px 18px 20px rgba(21, 119, 234, 0.3);
}

.btn i {
  vertical-align: middle;
  font-size: 20px;
}

.btn.outline {
  background-color: transparent;
  color: #1577EA;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #1577EA;
}

.btn.outline:hover {
  -webkit-box-shadow: 0px 18px 20px rgba(21, 119, 234, 0.3);
          box-shadow: 0px 18px 20px rgba(21, 119, 234, 0.3);
  background-color: #1577EA;
  color: #fff;
}

.btn.outline i {
  vertical-align: middle;
  font-size: 20px;
}

.input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
}

.input-box .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F1F3F6;
  width: 100%;
  border-radius: 4px;
}

.input-box label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  display: block;
  color: #414141;
}

.input-box input, .input-box select, .input-box textarea {
  width: calc( 100% - 45px);
  background-color: transparent;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.input-box input:focus, .input-box select:focus, .input-box textarea:focus {
  outline: #1577EA solid 1px !important;
}

.input-box select {
  -webkit-appearance: none !important;
  -moz-appearance: none;
  text-indent: 1px;
}

.input-box i:not(.ri-close-line) {
  width: 45px;
  height: 45px;
  background-color: #1577EA;
  color: #fff;
  border-radius: 4px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.input-box.white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
}

.input-box.white .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  width: 100%;
  border-radius: 4px;
}

.input-box.white label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  display: block;
  color: #414141;
}

.input-box.white input, .input-box.white select, .input-box.white textarea {
  width: calc( 100% - 45px);
  background-color: transparent;
  border: 0;
  padding-left: 10px;
}

.input-box.white input:focus, .input-box.white select:focus, .input-box.white textarea:focus {
  outline: #1577EA solid 1px !important;
}

.input-box.white i {
  width: 45px;
  height: 45px;
  background-color: #1577EA;
  color: #fff;
  border-radius: 4px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

header {
  background-color: #fff;
  padding: 10px 0;
  -webkit-box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header a {
  color: #333333;
}

header a:hover {
  color: #1577EA;
}

header a.navbar-brand {
  font-weight: bold;
  font-size: 24px;
}

header a.navbar-brand:hover {
  color: #fff;
}

header li {
  margin: 0 15px;
}

header li:last-child {
  margin-right: 0;
}

header li.active a {
  color: #1577EA;
  font-weight: 500;
}

.invoice-wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #F1F3F6;
}

.invoice-wrapper .sidebar .btn {
  min-width: 270px;
}

.invoice-wrapper .invoce-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 50px rgba(21, 119, 234, 0.05);
          box-shadow: 0px 0px 50px rgba(21, 119, 234, 0.05);
}

.invoice-wrapper .invoce-box .upload {
  overflow: hidden;
}

.invoice-wrapper .invoce-box .upload input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 100%;
  cursor: pointer;
}

.invoice-wrapper .invoce-box .upload img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.invoice-wrapper .invoce-box .invoice-id h1, .invoice-wrapper .invoce-box .invoice-id h2, .invoice-wrapper .invoce-box .invoice-id h3, .invoice-wrapper .invoce-box .invoice-id h4, .invoice-wrapper .invoce-box .invoice-id h5, .invoice-wrapper .invoce-box .invoice-id h6 {
  text-align: right;
  text-transform: uppercase;
  font-weight: 600;
  color: #1577EA;
  font-size: 32px;
  margin-bottom: 15px;
}

.invoice-wrapper .invoce-box .preview {
  position: absolute;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  width: calc( 100% + 2px);
  left: -1px;
  top: -1px;
  bottom: -1px;
  right: -1px;
  height: calc( 100% + 2px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.invoice-wrapper .invoice-table table {
  display: block;
  width: 100%;
}

.invoice-wrapper .invoice-table table input {
  border: 0;
  width: 100%;
}

.invoice-wrapper .invoice-table table thead tr th:first-child {
  border-radius: 6px 0 0 6px;
}

.invoice-wrapper .invoice-table table thead tr th:last-child {
  border-radius: 0 6px 6px 0;
}

.invoice-wrapper .invoice-table table thead tr td, .invoice-wrapper .invoice-table table thead tr th {
  background-color: #333333;
  padding: 10px 12px;
  color: #fff;
}

.invoice-wrapper .invoice-table table thead tr td p, .invoice-wrapper .invoice-table table thead tr th p {
  margin-bottom: 0;
  color: #fff;
}

.invoice-wrapper .invoice-table table thead tr td:fisrt-child {
  border-radius: 4px 0 0 4px;
}

.invoice-wrapper .invoice-table table tr:hover button {
  opacity: 1;
}

.invoice-wrapper .invoice-table table tr td {
  background-color: #fff;
}

.invoice-wrapper .invoice-table table tr td:nth-child(2) {
  min-width: 100px;
  max-width: 100px;
}

.invoice-wrapper .invoice-table table tr td:nth-child(3) {
  min-width: 100px;
  max-width: 100px;
}

.invoice-wrapper .invoice-table table tr td p {
  border: 1px solid #ABABAB;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 10px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.invoice-wrapper .invoice-table table tr td button {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  top: 23px;
  background-color: red;
  border: 0;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-radius: 24px;
  color: #fff;
  opacity: 0;
}

.invoice-wrapper .invoice-table table tr td:first-child {
  min-width: 470px;
}

.invoice-wrapper .invoice-table table tr td:first-child p {
  border-radius: 6px 0 0 6px;
}

.invoice-wrapper .invoice-table table tr td:last-child {
  min-width: 100px;
  max-width: 100px;
}

.invoice-wrapper .invoice-table table tr td:last-child p {
  border-radius: 0 6px 6px 0;
}

.notes .sub-total {
  border-bottom: 1px dashed #7B7B7B;
}

.notes .add-btns {
  padding-top: 20px;
}

.notes .add-btns .link {
  background-color: transparent;
  border: none;
  color: #1577EA;
  text-decoration: underline;
}

.notes .inner-total {
  padding-top: 30px;
}

.notes .inner-total table {
  display: block;
  width: 100%;
}

.notes .inner-total table td {
  min-width: 130px;
}

.notes .discount .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #F1F3F6;
}

.notes .discount .input-box input, .notes .discount .input-box select, .notes .discount .input-box textarea {
  padding: 10px;
}

.notes .discount .input-box select {
  max-width: 85px;
  -webkit-appearance: textfield !important;
  margin-right: 10px;
  border-right: 1px solid #7B7B7B;
}

.notes .discount .input-box:hover .remove-item {
  opacity: 1;
}

.notes .discount .remove-item {
  position: absolute;
  right: -10px;
  top: 10px;
  width: 20px;
  height: 20px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: red !important;
  color: #fff;
  border: 0;
  border-radius: 30px;
  opacity: 0;
}

/* Static pages CSS */
.hero-wrapper {
  padding: 200px 0;
}

.hero-wrapper .shapes {
  position: absolute;
  inset: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

.hero-wrapper .shapes img {
  position: absolute;
}

.hero-wrapper .shapes .lines {
  left: -50px;
  top: 150px;
  max-width: 145px;
}

.hero-wrapper .shapes .circle {
  right: -170px;
  bottom: 100px;
  max-width: 380px;
}

.hero-wrapper .shapes .wave {
  bottom: 100px;
  left: 35%;
  max-width: 230px;
}

.hero-wrapper .hero-content h1, .hero-wrapper .hero-content h2, .hero-wrapper .hero-content h3, .hero-wrapper .hero-content h4, .hero-wrapper .hero-content h5, .hero-wrapper .hero-content h6 {
  font-size: 48px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 30px;
}

.hero-wrapper .hero-content h1 span, .hero-wrapper .hero-content h2 span, .hero-wrapper .hero-content h3 span, .hero-wrapper .hero-content h4 span, .hero-wrapper .hero-content h5 span, .hero-wrapper .hero-content h6 span {
  font-weight: bold;
  color: #1577EA;
}

.hero-wrapper .hero-content p {
  font-size: 16px;
  margin-bottom: 30px;
}

.why-wrapper::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 290px;
  background-color: #F1F3F6;
  content: '';
}

.why-wrapper .shapes {
  position: absolute;
  inset: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

.why-wrapper .shapes img {
  position: absolute;
}

.why-wrapper .shapes .wave {
  bottom: 0;
  left: 15%;
  max-width: 230px;
}

.why-wrapper .why-content {
  padding: 50px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.why-wrapper .why-title h1, .why-wrapper .why-title h2, .why-wrapper .why-title h3, .why-wrapper .why-title h4, .why-wrapper .why-title h5, .why-wrapper .why-title h6 {
  font-size: 42px;
  color: #333333;
  margin-bottom: 30px;
}

.why-wrapper .lines {
  position: absolute;
  right: -50px;
  top: 50px;
  max-width: 145px;
}

.too-wrapper {
  padding: 200px 0;
}

.too-wrapper .box {
  text-align: center;
}

.too-wrapper .box .item {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 130px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.too-wrapper .box .item:hover {
  -webkit-box-shadow: 0px 18px 50px rgba(21, 119, 234, 0.3);
          box-shadow: 0px 18px 50px rgba(21, 119, 234, 0.3);
  background-color: #1577EA;
}

.too-wrapper .box .item:hover p, .too-wrapper .box .item:hover i {
  color: #fff;
}

.too-wrapper .box .item p {
  margin-bottom: 0;
}

.too-wrapper .box .item i {
  font-size: 25px;
  color: #1577EA;
}

.too-wrapper .tool-content h1, .too-wrapper .tool-content h2, .too-wrapper .tool-content h3, .too-wrapper .tool-content h4, .too-wrapper .tool-content h5, .too-wrapper .tool-content h6 {
  font-size: 52px;
  color: #333333;
  margin-bottom: 20px;
}

.invoice-feature {
  padding: 50px 0;
}

.invoice-feature::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  content: '';
  background-color: #1577EA;
  height: 100%;
}

.invoice-feature .shape {
  position: absolute;
  z-index: 1;
  max-width: 150px;
  right: -50px;
  top: 20%;
}

.invoice-feature .box {
  text-align: center;
  z-index: 2;
}

.invoice-feature .box .item {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 130px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.invoice-feature .box .item:hover {
  -webkit-box-shadow: 0px 18px 50px rgba(21, 119, 234, 0.3);
          box-shadow: 0px 18px 50px rgba(21, 119, 234, 0.3);
}

.invoice-feature .box .item p {
  margin-bottom: 0;
  color: #1577EA;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}

.invoice-feature .feature-content * {
  color: #fff;
}

.invoice-feature .feature-content h1, .invoice-feature .feature-content h2, .invoice-feature .feature-content h3, .invoice-feature .feature-content h4, .invoice-feature .feature-content h5, .invoice-feature .feature-content h6 {
  font-size: 52px;
}

.invoice-price {
  text-align: center;
  padding: 100px 0;
}

.invoice-price .content {
  padding-bottom: 50px;
}

.invoice-price .content h1, .invoice-price .content h2, .invoice-price .content h3, .invoice-price .content h4, .invoice-price .content h5, .invoice-price .content h6 {
  font-size: 52px;
  color: #333333;
  margin-bottom: 20px;
}

.invoice-price .price-box {
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  min-height: 410px;
}

.invoice-price .price-box .title {
  padding: 20px;
  border-bottom: 1px solid #F1F3F6;
}

.invoice-price .price-box .title h1, .invoice-price .price-box .title h2, .invoice-price .price-box .title h3, .invoice-price .price-box .title h4, .invoice-price .price-box .title h5, .invoice-price .price-box .title h6 {
  font-size: 24px;
  color: #1577EA;
  margin-bottom: 0;
}

.invoice-price .price-box .details {
  padding-top: 50px;
  padding-bottom: 50px;
}

.invoice-price .price-box .details li {
  margin-bottom: 10px;
}

.invoice-price .price-box .action p {
  font-size: 32px;
  font-weight: 500;
  color: #1577EA;
}

.invoice-price .price-box .action span {
  font-size: 16px;
}

.invoice-price .active {
  -webkit-box-shadow: 0px 24px 50px rgba(21, 119, 234, 0.2);
          box-shadow: 0px 24px 50px rgba(21, 119, 234, 0.2);
}

.invoice-newsletter {
  margin-top: 100px;
  margin-bottom: 100px;
}

.invoice-newsletter .newsletter-box {
  background-color: #1577EA;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
}

.invoice-newsletter .newsletter-box h1, .invoice-newsletter .newsletter-box h2, .invoice-newsletter .newsletter-box h3, .invoice-newsletter .newsletter-box h4, .invoice-newsletter .newsletter-box h5, .invoice-newsletter .newsletter-box h6 {
  font-size: 52px;
  color: #fff;
  margin-bottom: 20px;
}

.invoice-newsletter .newsletter-box p {
  color: #fff;
}

.invoice-newsletter .email {
  background-color: transparent;
  border: 1px solid #fff !important;
  color: #fff !important;
}

.invoice-newsletter .email::-webkit-input-placeholder {
  color: #fff !important;
}

.invoice-newsletter .email:-ms-input-placeholder {
  color: #fff !important;
}

.invoice-newsletter .email::-ms-input-placeholder {
  color: #fff !important;
}

.invoice-newsletter .email::placeholder {
  color: #fff !important;
}

.invoice-newsletter .btn {
  margin: 20px auto !important;
  background-color: #fff;
  border-radius: 8px;
  border: 0 !important;
  color: #1577EA;
}
/*# sourceMappingURL=style.css.map */